 /* Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Saira+Extra+Condensed&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body {
   background-color: #655A7C;
 }
 /* Grid Styles */
#zen-supporting {
   display: grid;
   grid-template-columns: repeat(3, 33%);
   grid-template-rows: auto auto;
   grid-gap: 10px;
   grid-template-areas: 
      "explanation participation benefits"
      "requirements requirements requirements";
      background-color: #AB92BF;
}

aside {
   display: grid;
   grid-template-columns: repeat(3, 33%);
   grid-template-rows: auto;
   grid-gap: 10px;
   grid-template-areas: 
      "ds da zr";
}
.design-selection {
   grid-area: ds;
}
.design-archives {
   grid-area: da;
}
.zen-resources {
   grid-area: zr;
}
.explanation {
   grid-area: explanation;
   margin-left: 20px;
   line-height: 125%;
}
.explanation p {
   text-indent: 15px;
}
.participation {
   grid-area: participation;
}
.benefits {
   grid-area: benefits;
}

/* header styles */
.intro h1, h2 {
   background-color: #655A7C;
   padding: .5em;
   font-family: 'Manrope', sans-serif;
}
header {
   border-bottom: 4px solid #D6CA98;
}
header h2 {
   font-size: medium;
}

h2 {
   text-indent: 30px;
}
.summary {
   text-align: center;
   padding: 1.5em;
   background-color: #AFC1D6;
   border-bottom: 4px solid #D6CA98;
   font-family: 'Saira Extra Condensed', sans-serif;
   font-size: 20px;
}
.summary p {
   margin-bottom: 1em;
}
.preamble {
   background-image: url(/images/Lavender.jpg);
   background-color: #CEF9F2;
   padding: 1em;
   line-height: 145%;
   border-bottom: 4px solid #D6CA98;
   border-right: 4px solid #D6CA98;
   width: 50%;
   font-family: 'Manrope', sans-serif;
}
.preamble h3 {
   margin-left: 40px;
}
.preamble p {
   margin-left: 45px;
   margin-bottom: .5em;
}

.requirements {
   grid-area: requirements;
}
footer {
   padding: 1em;
   margin-bottom: 10px;
   text-align: center;
   justify-content: center;
   background-color: #AFC1D6;
   border: 2px solid #D6CA98;
   border-radius: 17px;
}
footer a {
   text-decoration: none;
   font-style: italic;
   font-family: 'Varela Round', sans-serif;
   
}
footer a:hover {
   background-color: #655A7C;
   border: 1px solid black;
}